<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr" style="background-image: url(img/bnr.jpg)">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <h1>Contact</h1>
                <nav class="pager">
                    <a href="#">Home</a>
                    <a href="#" class="active">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- content -->
<div class="text-content">
    <div class="container">
        <h2 class="title text_center">Get in touch</h2>
        <div class="row text_center justify-content-center">
            <div class="col-lg-7">
                <article>
                    <h5>CTY Books</h5>
                    <p>
                        Nieuwe Rijn 2 <br>
                        2313 JB Leiden <br>
                        The Netherlands <br>
                        +31 (0)71 513 0505 <br>
                        <a href="mailto:info@ctybooks.nl">info@ctybooks.nl</a></p>
                </article>
                <article>
                    <h3 class="title text_center">How to get here</h3>
                    <p>
                    In the end, you’ll have to do the very last bit  <br>
                    like they’ve done it for centuries: On foot. <br>
                    Because the old city centre is a car-free zone.</p>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="text-content yellow">
    <div class="container">
       <div class="row">
            <div class="col-lg-6">
                <div class="contact-item">
                    <figure><img src="img/contact-ico1.png" alt=""></figure>
                    <h3 class="title">By Taxi</h3>
                    <p>Please instruct the taxi driver to drop you off at the Breestraat bus stop. Then take <a href="#"> a short, stunning walk through the Maarsmansteeg to CTY Books.</a> You can already see the hotel at the end of the narrow alley!</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-item">
                    <figure><img src="img/contact-ico2.png" alt=""></figure>
                    <h3 class="title">By Train and Bus</h3>
                    <p>
                        Arriving by train at Leiden Central Station, catch any of these buses to the Breestraat bus stop: <br> 2/4/45/169/182/187/400/800.  <br>
                    <a href="#">   Then take the same short hike through the narrow Maarsmansteeg to CTY Books. </a>
                        </p>
                </div>
            </div>
       </div>
    </div>
</div>
<div class="text-content">
    <div class="container">
        <div class="row text_center justify-content-center">
            <div class="col-lg-7">
                <article>
                    <h3 class="title text_center">How does the self check-in work?</h3>
                    <p>Parking in the old town of Leiden can be challenging, especially for people who are not familiar with the area. The streets are narrow, the spots are sparse and the prices are steep. Plus: after parking your car on the street, you’d still have to walk a fair bit to our hotel, which is located in a car-free zone.</p>

                        <p>We recommend to park your car at the <a href="#">Haagweg parking lot</a>. It is located just outside the city centre, at <a href="#">Haagweg 8, 2312 AA, Leiden</a>. There is a free shuttle bus to drive you to the hotel. </p>
                </article>
                <article>
                    <h3 class="title text_center">Staying in touch during your stay</h3>
                    <p>
                        If you arrive to CTY Books ahead of check-in time, you can leave your luggage in one of the lockers, using your check-in code on your smartphone. Once it’s time to check in, you can use the same code to enter your room. In your room you will find a SuitePad that enables you to contact the concierge at all times of the day. </p>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
{% endblock %}