<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr" style="background-image: url(img/bnr.jpg)">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <h1>DISCOVER LEIDEN
                    </h1>
                <p>Learn more about the history of Leiden and discover everything there is to do                </p>
                <nav class="pager">
                    <a href="#">Home</a>
                    <a href="#" class="active">Discover Leiden</a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- content -->
<div class="text-content yellow">
    <div class="container">
        <h2 class="title text_center">Leiden, City of Discoveries</h2>
        <div class="row text_center justify-content-center">
            <div class="col-lg-7">
                <p>Leiden is an authentic Dutch city with a rich and long history (from the Iron Age and the Romans) and has 
                    an equally rich tradition when it comes to knowledge, science, culture and international relations. A city with 
                    beautiful canals, almost three thousand monuments, twelve renowned museums and a vibrant city centre. </p>
            </div>
        </div>
        <div class="text-content">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="title">A rich past</h3>
                    <p>Walk through Leiden and the city’s rich past comes back to life. The 16th century academy building of Leiden University, the Weigh House designed by Pieter Post, the 12th century Burcht, the 13th century Gravensteen (where the Dukes of Holland once resided), the stately townhouses along the famous Rapenburg, the Prinsenhof (where William of Orange and Maurice of Orange used to stay), the old city gates, the beautiful churches of Pieterskerk and Hooglandse Kerk, and the city’s 35 courtyards tell the history of Leiden.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-content__img"><img src="img/leiden1.png" alt=""></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-content__img"><img src="img/leiden2.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="title">Famous residents of Leiden</h3>
                    <p>Walk through Leiden and the city’s rich past comes back to life. The 16th century academy building of Leiden University, the Weigh House designed by Pieter Post, the 12th century Burcht, the 13th century Gravensteen (where the Dukes of Holland once resided), the stately townhouses along the famous Rapenburg, the Prinsenhof (where William of Orange and Maurice of Orange used to stay), the old city gates, the beautiful churches of Pieterskerk and Hooglandse Kerk, and the city’s 35 courtyards tell the history of Leiden.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-content__img"><img src="img/leiden3.png" alt=""></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-content__img"><img src="img/leiden4.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-content">
    <div class="container">
        <article>
            <h3 class="title">Famous residents of Leiden</h3>
            <p>The Lakenfeesten, 3 October Festival, the Leiden Cabaret Festival, the Leidse Waterdagen, the Rapenburg Concert, the Open Monumentendagen, the Leiden Film Festival, the Rembrandt Festival and much more. Leiden may be a small and picturesque city, but its festivals are known worldwide. Leiden is the key to Europe and the key to your European holiday. What’s more, the banks of the river transform into a bustling market on Wednesdays and Saturdays, so chances are you’re lucky enough to experience it for yourself and get a taste of the local food. Pop on out and enjoy a relaxing stroll along the stalls spreading out from your 
                doorstep.</p>
        </article>
        <article>
            <h3 class="title">Churches in Leiden</h3>
            <p>There are many historical churches in Leiden. From small clandestine churches in homes to the immense Hooglandse Kerk and the impressive Pieterskerk. There is also a guided walking tour past Leiden’s churches. </p>
        </article>
        <article>
            <h3 class="title">Windmills in Leiden</h3>
            <p>Unique to Leiden is the number of windmills within the city’s boundaries. There are nine windmills in Leiden, several of which are open to the public.</p>

            <p> Close to Best Western City Hotel Leiden is the “Molen de Valk”, now transformed into Leiden’s windmill museum. De Valk is a grain mill from 1743. All seven floors of this national windmill museum are open to visitors. For more info and opening times: www.molenmuseumdevalk.nl</p>
                
            <p> De Houtzaagmolen de Heesterboom, Haagweg 57, tel: 071-5611236. Open: Mon 10:00 -16:00 and by appointment. The windmill is one of the top monuments in the Netherlands, and is situated within a few minutes’ walk of our hotel in the centre of Leiden.</p>
                
            <p> Molen de Put, Galgewater, by the Rembrandtbrug, tel. 071-5120279. Open: Mon 11:00 – 18:00, Sun 14:00 – 18:00. A miller is usually present on Saturdays, and grain is also still regularly ground here. A special city walking tour will take you past Leiden’s nine windmills.</p>
        </article>
        <article>
            <h3 class="title">City of Water</h3>
            <p>The Lakenfeesten, 3 October Festival, the Leiden Cabaret Festival, the Leidse Waterdagen, the Rapenburg Concert, the Open Monumentendagen, the Leiden Film Festival, the Rembrandt Festival and much more. Leiden may be a small and picturesque city, but its festivals are known worldwide. Leiden is the key to Europe and the key to your European holiday. What’s more, the banks of the river transform into a bustling market on Wednesdays and Saturdays, so chances are you’re lucky enough to experience it for yourself and get a taste of the local food. Pop on out and enjoy a relaxing stroll along the stalls spreading out from your 
                doorstep.</p>
        </article>
    </div>
</div>
<!-- /content -->
<!-- map -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39168.684569182675!2d4.446650408453361!3d52.151731614895894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5c68b88c9d753%3A0x74076352baf3fe49!2z0JvQtdC50LTQtdC9LCDQndGW0LTQtdGA0LvQsNC90LTQuA!5e0!3m2!1suk!2sua!4v1576605393967!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<!-- /map -->
{% endblock %}