<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr" style="background-image: url(img/bnr.jpg)">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <h1>ABOUT LEIDEN’S <br>
                    MOST EPIC HOTEL
                    </h1>
                <p>Your own adventure of the fabulous inner city starts here.                </p>
                <nav class="pager">
                    <a href="#">Home</a>
                    <a href="#" class="active">Our story</a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- content -->
<div class="container">
    <div class="text-content">
        <h2 class="title text_center">Get off to a stunning start</h2>
        <div class="row text_center justify-content-center">
            <div class="col-lg-7">
                <p>The historic city of Leiden deserves to be experienced in the most epic way possible. 
                    Why not use our legendary hotel as your home base?</p>
            </div>
        </div>
    </div>
    <div class="text-content">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="text-content__img"><img src="img/story.png" alt=""></div>
            </div>
            <div class="col-lg-6">
                <h3 class="title">Long history, short</h3>
                <p>In the heart of historic Leiden, in between its Medieval castle and the river Rhine, lies one of the city’s oldest buildings. This magnificent monument used to house a bookstore, but is now home to the CTY Books Hotel. Its walls breathe history, while its views over the castle, the river and the city hall offer a glimpse into <a href="#">Leiden’s long but ever-present past. </a></p>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<div class="book">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
                <div class="book__slider">
                    <div class="book__slider-item">
                        <img src="img/story-slider.png" alt="">
                    </div>
                    <div class="book__slider-item">
                        <img src="img/slider-image.jpg" alt="">
                    </div>
                    <div class="book__slider-item">
                        <img src="img/slider.jpg" alt="">
                    </div>
                </div>
        </div>
        <div class="col-lg-6">
            <div class="row justify-content-end">
                <div class="col-lg-10">
                    <article>
                        <h2 class="title">Epic upgrades</h2>
                        <p>
                            Check yourself into the city’s most modern boutique hotel. Every room has its own full kitchen, luxurious bathroom and silent AC system, all running on 100% renewable energy. The downstairs café is open all day and evening, for all types of drinks and meals. It boasts a riverside seating area extending onto an iconic bridge that, probably, <b>gave our building its name. </b>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->
<div class="container">
    <div class="text-content">
        <h2 class="title text_center">Centrally located</h2>
        <div class="text_center"><p>Within walking distance, there’s so much to experience</p></div>
        <div class="locations-tags">
            <div class="row">
                <div class="col-md-4">
                    <div class="locations-tags__item">
                        <figure><img src="img/story-img.png" alt=""></figure>
                        <h6>All Museums</h6>
                        <p>Within a 5-minute walk</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="locations-tags__item">
                        <figure><img src="img/story-img.png" alt=""></figure>
                        <h6>Shopping Street</h6>
                        <p>Within a 5-minute walk</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="locations-tags__item">
                        <figure><img src="img/story-img.png" alt=""></figure>
                        <h6>Riverside Cafe</h6>
                        <p>Within a 5-minute walk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<div class="text-content yellow">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure class="text-content__img-round"><img src="img/story-round.jpg" alt=""></figure>
            </div>
            <div class="col-lg-6">
                <h3 class="title">Discover Leiden</h3>
                <p>Leiden is an authentic Dutch city with a rich and long history (from the Iron Age and the Romans) and has an equally rich tradition when it comes to knowledge, science, culture and international relations. A city with beautiful canals, almost three thousand monuments, twelve renowned museums and a vibrant city centre.</p>
                <a href="#" class="button">Discover Leiden</a>
            </div>
        </div>
    </div>
</div>
<!-- content -->
<div class="container">
    <div class="text-content">
        <h2 class="title text_center">The Tale of the Fisherman</h2>
        <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1">
                <div class="text_right text-content__img"><img src="img/story-bottom.png" alt=""></div>
            </div>
            <div class="col-lg-8">
                <p>Once upon a time, on the banks of the river Rhine, there was a charming canal house gracing the old town of Leiden. This riverside house has always been known as “The Fisherman”.</p>

                 <p> To this day, some five hundred years later, we don’t really know why. Was it due to his proximity to the Fisherman’s Bridge, which still lies just across the cobblestone street, where the Old and the New Rhine meet? Or perhaps it was because dried fish was sold from the shop on the ground floor, to townsfolk and voyagers alike?</p>
                    
                <p> Whatever the case, our Fisherman ran a lucrative tobacco trade on the side, as he proudly demonstrates on his painted façade. For next to his catch of the day, it features a box of cigars and a jar of snuff. Or Rappé, as the French used to call it.
                    </p>
                <a href="#" class="button">Learn more</a>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
{% endblock %}